<ion-content [fullscreen]="true" class="splash-content">
  <div class="splash">

    <div class="splash-top">
      <p class="splash-eyebrow">Bienvenido a</p>
      <h1 class="splash-title">
        <span class="w-dark">Tengo</span><br>
        <span class="w-amber">Un</span><br>
        <span class="w-dark">Dato.</span>
      </h1>
      <p class="splash-sub">Oficios de confianza<br>en tu barrio</p>
    </div>

    <div class="splash-illus">
      <img src="assets/slides/slide1.png" alt="maestro" />
    </div>

    <div class="splash-bottom">
      <ion-button
        expand="block"
        class="btn-primary-ion"
        (click)="irARegistro()">
        Crear cuenta
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        class="btn-secondary-ion"
        (click)="irALogin()">
        Ya tengo cuenta → Iniciar sesión
      </ion-button>

      <p class="aviso-legal">
        Al continuar aceptas nuestros
        <span class="aviso-link" (click)="irATerminos()">Términos de Uso</span>
        y la protección de tus datos bajo la
        <strong>Ley 19.628</strong> de Chile.
      </p>
    </div>

  </div>
</ion-content>